<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <small>{{createdAt}}</small>
    <div>
      <a href='/post/{{id}}' class="btn btn-primary">Edit</a>
      <button class="btn btn-primary"> Delete </button>
    </div>
  </div>
</div>