main {
  margin-right: 30px;
  margin-left: 30px;
}

.btn-primary {
  background-color: rgb(1, 121, 121);
  color: white;
  border-width: 1px;
  border-color: rgb(1, 88, 88);
}

.login-form-container {
  width: 70vw;
}

.error-message {
  color: rgb(194, 11, 47)
}