html {
  font-size:10px;
}

:root {
  --dark: #011f20;
  --light: #f6f5ec;
}

body {
  color: var(--dark)
}

a {
  text-decoration-line: none;
}

.header {
  letter-spacing: 0.15rem;
  background-color: var(--dark);
  /* opacity: 0.9; */
  color: var(--light);
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 5;
  position: fixed; */
  width: 100vw;
  max-height: 10vh;
}

.header nav {
  margin-right: 50px;
  float: right;
  font-size: 1.8rem;
  align-content: center;
}

.logo {
  font-size: 3rem;
  font-weight: bolder;
  font-style: italic
}

.header nav li {
  display: inline-block;
  margin-left: 3.5rem;
}

.header a {
  color: var(--light);
}

.homepage-heading {
  padding: 3rem;
}

.primary-button {
  color: var(--dark) !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #efeadc;
}

main {
  background-color: #efeadc;
  text-align: center;
  color: var(--dark);
  padding-top: 10rem;
  /* padding-left: 10rem; 
  padding-right: 10rem; */
  min-height: 100vh;
}

.blog-title {
  font-size: 4.5rem;
}

.blog-description {
  font-size: 2.2rem;
}

.all-posts-container{
  background-color: #f1f0e7;
}

.latest-post-container {
  margin: auto;
  padding: 1rem;
}

.latest-post-image {
  height: 40rem;
  object-fit: cover;
  box-shadow: #e9e3d5 3px 5px 3px;
}

.latest-post-title {
  font-size: 2.3rem
}

.post-card {
  /* background-color: #efeadc; */
  width: 55rem;
  margin: 3rem;
  padding: 1rem;
  box-shadow: #e9e3d5 3px 5px 3px;
  border-top-style: dashed;
  border-left-style: dashed;
  border-width: 0.3rem;
  border-color: #efeadc;
}

.post-summary {
  padding-top: 1rem;
}

.post-card-title {
  font-size: 2rem;
}

.post-image {
  height: 15rem;
  object-fit: cover;
}